
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
################################################################################
# End of UiPath Studio common ignores
################################################################################
D:\Kav's Downloads\UIPATHING\MailAutoResponder\apiKey.txt